@model IEnumerable<assignmentTracker.Models.assignment>

@{
    ViewBag.Title = "Assignments";
}
<style>
    #create{
        font-weight:bold;
         }
    #action{
        font-weight:bold;
    }
</style>
<h2>Pending Assignments</h2>
<p>Note: Please remove the completed assignments</p>

    <p id="create" value="create">
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cours.course_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.due_date)
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cours.course_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.due_date)
                </td>
                <td id="action">
                    @Html.ActionLink("Edit", "Edit", new { id = item.assignment_id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.assignment_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.assignment_id })
                </td>
            </tr>
        }

    </table>
